.box_container{
    margin: 3px;
    width: 600px;
    height:180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box{
    margin: 3px;
    background-color: rgb(245, 139, 157);
    border: 1px solid rgb(245, 139, 157);
    border-radius: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}